Link to seperate .html file with table element;  https://github.com/ergrko/ergrko.github.io/blob/main/prem_attend.html

In [2]:
import pandas as pd
import json

In [3]:
df = pd.read_csv('ROE.csv')

In [4]:
df

         Entity   ROE Unnamed: 2
0       Romania  15.9       in %
1       Hungary  14.7       in %
2       Iceland  12.6       in %
3        Sweden  11.8       in %
4       Czechia  11.7       in %
5         Spain  11.3       in %
6     Lithuania  11.2       in %
7        Latvia  11.2       in %
8      Bulgaria  10.9       in %
9      Slovenia  10.9       in %
10      Norway*  10.2       in %
11     Slovakia  10.0       in %
12      Finland   9.4       in %
13      Belgium   9.0       in %
14       Poland   9.0       in %
15  Netherlands   8.5       in %
16      Denmark   8.4       in %
17      Estonia   8.2       in %
18      Croatia   8.0       in %
19      Austria   7.9       in %
20      Ireland   7.6       in %
21       France   7.4       in %
22           EU   7.3       in %
23   Luxembourg   6.0       in %
24        Italy   5.7       in %
25     Portugal   4.6       in %
26      Germany   4.1       in %
27        Malta   3.0       in %
28       Cyprus   0.2       in %
29       Greece -19.1       in %

In [5]:
df2 = pd.read_csv('banks population.csv')

In [6]:
df2

,Entity,Country Code,Indicator Name,Indicator Code,Bank branches per 1000000 adults
0,Aruba,ABW,"Commercial bank branches (per 100,000 adults)",FB.CBK.BRCH.P5,12.410447
1,Africa Eastern and Southern,AFE,"Commercial bank branches (per 100,000 adults)",FB.CBK.BRCH.P5,4.052577
2,Afghanistan,AFG,"Commercial bank branches (per 100,000 adults)",FB.CBK.BRCH.P5,NaN
3,Africa Western and Central,AFW,"Commercial bank branches (per 100,000 adults)",FB.CBK.BRCH.P5,4.119400
4,Angola,AGO,"Commercial bank branches (per 100,000 adults)",FB.CBK.BRCH.P5,8.208845
...,...,...,...,...,...
261,Kosovo,XKX,"Commercial bank branches (per 100,000 adults)",FB.CBK.BRCH.P5,11.626111
262,"Yemen, Rep.",YEM,"Commercial bank branches (per 100,000 adults)",FB.CBK.BRCH.P5,NaN
263,South Africa,ZAF,"Commercial bank branches (per 100,000 adults)",FB.CBK.BRCH.P5,7.967437
264,Zambia,ZMB,"Commercial bank branches (per 100,000 adults)",FB.CBK.BRCH.P5,2.875483
265,Zimbabwe,ZWE,"Commercial bank branches (per 100,000 adults)",FB.CBK.BRCH.P5,6.210598

In [13]:
df3 = pd.read_csv('/content/subsidies per capita .csv')

In [ ]:
table

                     Team.1  average
0         Manchester United   72.992
1                Arsenal FC   59.776
2           West Ham United   57.915
3         Tottenham Hotspur   56.523
4              Liverpool FC   53.027
5           Manchester City   52.739
6          Newcastle United   51.487
7               Aston Villa   41.838
8                Everton FC   38.441
9                Chelsea FC   36.424
10             Leeds United   36.308
11           Leicester City   32.061
12   Brighton & Hove Albion   30.988
13  Wolverhampton Wanderers   30.725
14           Southampton FC   29.939
15             Norwich City   26.885
16           Crystal Palace   24.282
17               Watford FC   20.612
18               Burnley FC   19.189
19             Brentford FC   16.912
20                  overall   39.453

In [15]:
from pandas.core.reshape.merge import merge
df4 = merge(df,df2)
df5 = merge(df4,df3)

In [16]:
df5

,Entity,ROE,Unnamed: 2,Country Code,Indicator Name,Indicator Code,Bank branches per 1000000 adults,Code,Year,fossil fuel subsidies per capita
0,Romania,15.9,in %,ROU,"Commercial bank branches (per 100,000 adults)",FB.CBK.BRCH.P5,21.659987,ROU,2020,25.39
1,Hungary,14.7,in %,HUN,"Commercial bank branches (per 100,000 adults)",FB.CBK.BRCH.P5,22.415422,HUN,2020,30.47
2,Iceland,12.6,in %,ISL,"Commercial bank branches (per 100,000 adults)",FB.CBK.BRCH.P5,26.578603,ISL,2020,0.00
3,Sweden,11.8,in %,SWE,"Commercial bank branches (per 100,000 adults)",FB.CBK.BRCH.P5,11.414415,SWE,2020,166.37
4,Czechia,11.7,in %,CZE,"Commercial bank branches (per 100,000 adults)",FB.CBK.BRCH.P5,17.334344,CZE,2020,25.38
5,Spain,11.3,in %,ESP,"Commercial bank branches (per 100,000 adults)",FB.CBK.BRCH.P5,37.420160,ESP,2020,35.90
6,Lithuania,11.2,in %,LTU,"Commercial bank branches (per 100,000 adults)",FB.CBK.BRCH.P5,11.184858,LTU,2020,93.62
7,Latvia,11.2,in %,LVA,"Commercial bank branches (per 100,000 adults)",FB.CBK.BRCH.P5,6.635281,LVA,2020,81.61
8,Bulgaria,10.9,in %,BGR,"Commercial bank branches (per 100,000 adults)",FB.CBK.BRCH.P5,61.472441,BGR,2020,329.60
9,Slovenia,10.9,in %,SVN,"Commercial bank branches (per 100,000 adults)",FB.CBK.BRCH.P5,22.585743,SVN,2020,58.97
10,Finland,9.4,in %,FIN,"Commercial bank branches (per 100,000 adults)",FB.CBK.BRCH.P5,6.161020,FIN,2020,269.05
11,Belgium,9.0,in %,BEL,"Commercial bank branches (per 100,000 adults)",FB.CBK.BRCH.P5,NaN,BEL,2020,297.14
12,Poland,9.0,in %,POL,"Commercial bank branches (per 100,000 adults)",FB.CBK.BRCH.P5,23.207724,POL,2020,44.44
13,Netherlands,8.5,in %,NLD,"Commercial bank branches (per 100,000 adults)",FB.CBK.BRCH.P5,5.449826,NLD,2020,19.13
14,Denmark,8.4,in %,DNK,"Commercial bank branches (per 100,000 adults)",FB.CBK.BRCH.P5,17.518532,DNK,2020,253.92
15,Estonia,8.2,in %,EST,"Commercial bank branches (per 100,000 adults)",FB.CBK.BRCH.P5,7.476757,EST,2020,29.95
16,Croatia,8.0,in %,HRV,"Commercial bank branches (per 100,000 adults)",FB.CBK.BRCH.P5,26.838159,HRV,2020,9.40
17,Austria,7.9,in %,AUT,"Commercial bank branches (per 100,000 adults)",FB.CBK.BRCH.P5,12.349426,AUT,2020,62.03
18,Ireland,7.6,in %,IRL,"Commercial bank branches (per 100,000 adults)",FB.CBK.BRCH.P5,16.055162,IRL,2020,433.57
19,France,7.4,in %,FRA,"Commercial bank branches (per 100,000 adults)",FB.CBK.BRCH.P5,33.270439,FRA,2020,138.26
20,Luxembourg,6.0,in %,LUX,"Commercial bank branches (per 100,000 adults)",FB.CBK.BRCH.P5,56.543680,LUX,2020,3.65
21,Italy,5.7,in %,ITA,"Commercial bank branches (per 100,000 adults)",FB.CBK.BRCH.P5,34.472119,ITA,2020,170.42
22,Portugal,4.6,in %,PRT,"Commercial bank branches (per 100,000 adults)",FB.CBK.BRCH.P5,30.711066,PRT,2020,54.69
23,Germany,4.1,in %,DEU,"Commercial bank branches (per 100,000 adults)",FB.CBK.BRCH.P5,NaN,DEU,2020,114.83
24,Malta,3.0,in %,MLT,"Commercial bank branches (per 100,000 adults)",FB.CBK.BRCH.P5,23.511858,MLT,2020,0.00
25,Cyprus,0.2,in %,CYP,"Commercial bank branches (per 100,000 adults)",FB.CBK.BRCH.P5,28.259797,CYP,2020,53.54
26,Greece,-19.1,in %,GRC,"Commercial bank branches (per 100,000 adults)",FB.CBK.BRCH.P5,16.775620,GRC,2020,208.45

In [17]:
exported_values = list( df5.T.to_dict().values() )

In [20]:
open('linear.json','w').write ( json.dumps(exported_values) )

8253